<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded New File</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            margin: 20px;
        }
        h1 {
            color: #007bff;
        }
        form {
            margin-top: 20px;
        }
        button {
            padding: 10px 15px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Uploaded new File {{ filename }}</h1>
    <form action="/" method="get">
        <button type="submit">Want to upload some more? Click Me</button>
    </form>
</body>
</html>
